
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>asd</td>
        <td>hytrh</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>

    <tr>
        <td>4</td>
        <td>fguhkj</td>
        <td>ulçökhl</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>5</td>
        <td>hjmkgjh</td>
        <td>tyjyum</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr></table>
