@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mt-4">Kategoriye Göre Başlık Sayısı</h2>
<div id="headingChart" style="width: 100%; height: 500px;"></div>

@section Scripts {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });

        $(document).ready(function () {
            $.ajax({
                url: '/Chart/HeadingCategoryChart',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    google.charts.setOnLoadCallback(function () {
                        drawHeadingChart(data);
                    });
                }
            });

            function drawHeadingChart(dataJson) {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Kategori');
                data.addColumn('number', 'Başlık Sayısı');

                $.each(dataJson, function (i, item) {
                    data.addRow([item.CategoryName, item.CategoryCount]);
                });

                var options = {
                    title: 'Kategoriye Göre Başlık Sayısı',
                    pieHole: 0.4,
                    legend: { position: 'right' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('headingChart'));
                chart.draw(data, options);
            }
        });
    </script>
}
